{% extends "layout.html" %}

{% block content %}
<p>
	<a href="/contacts/{{contact.id}}">View</a>
	<a href="/contacts">Back</a>
</p>
<h1>Editing {{contact.name}} </h1>
<form action="/contacts/{{ contact.id }}/edit" method="POST">
	<fieldset>
		<legend>Contact Values</legend>
		<p>
			<label for="name">Name</label>
			<input name="name" id="name" type="text" placeholder="Name" value="{{ contact.name }}">
		</p>
		<p>
			<label for="email">Email</label>
			<input name="email" id="email" type="email" placeholder="Email" value="{{ contact.email }}">
			{% match email_error %}
			  {% when Some with (val) %}
		      <span class="error"> 
				    {{ val }}
					</span>
			  {% when None %}
			{% endmatch %}
		</p>
		<button>Save</button>
	</fieldset>
</form>
<hr>		

<button hx-delete="/contacts/{{contact.id}}/delete" 
				hx-confirm="Are you sure?"
				hx-target="body">
	Delete Contact
</button>

{% endblock %}
