{% extends "layout.html" %}

{% block content %}

<form action="/contacts", method="get", class="tool-bar">
  <label for="search">Search Term</label> 
  <input id="search" type="search" name="name" value=""/>
  <input type="submit" value="Search"/>
</form>



<table>
  <thead>
    <th>Name</th> <th>Email</th> <th>Links</th>
  </thead>
{% for contact in contacts %}
  <tr>
    <td>{{contact.name}}</td>
    <td>{{contact.email}}</td>
    <td>
      <a href="/contacts/{{ contact.id }}">View</a>
      <a href="/contacts/{{ contact.id }}/edit">Edit</a>
      <a hx-confirm="Are you sure?"
      hx-delete="/contacts/{{ contact.id }}">
        Delete</a>
    </td>
  </tr>
{% endfor %}
</table>

<p>
  <a href="/contacts/new">
    Add New
  </a>
</p>
<p>
  <a href="/contacts/download" hx-boost="false">
    Download Archive
  </a>
</p>
{% endblock %}

