{% extends "layout.html" %}

{% block content %}
<form action="/contacts/new" method="post">
	<fieldset>
		<legend>Contect Values</legend>
		<p>
			<label for="name">Name</label>
			<input name="name" id="name" placeholder="name@example.org" value="{{ name }}">
		</p>
		<p>
			<label for="email">Email</label>
			<input name="email" id="email" type="email" placeholder="email@example.org" value="{{ email }}">
			{% match email_error %}
			  {% when Some with (val) %}
		      <span class="error"> 
				    {{ val }}
					</span>
			  {% when None %}
			{% endmatch %}
		</p>
		<button>Save</button>
	</fieldset>
</form>

<p>
	<a href="/contacts">Back</a>
</p>
{% endblock %}
